h1{
    text-align:center;
    text-decoration:red underline;
    letter-spacing:10px;
    font-size:50px;
    font-family:arial;
    
    
}
h3{
    text-align:right;
    text-decoration:overline;
    font-family:impact;
}

h2{
    text-align:right;
    text-decoration:line-through;
}

p{
    font-weight:normal;
    line-height:normal; /* use 0.5 and also default as you want */

    font-family:avant grande,didot;
    letter-spacing:normal; /* use 5px and also default as you want */
}