/* *{
    font-family:"Courier New";
    background-color:lightgrey;
} */


/* h1{
    color:blueviolet;
    background-color: lightpink;
    text-align:center;
    text-decoration:red underline;
    letter-spacing:10px;
    font-size:50px;
    font-family:arial;
    
    
} */


/* h1{
    color:blueviolet;
}
h3{
    color:greenyellow;
} */




/* h1,h3{
    color:blueviolet;

} */
/* 



<!-- ID selector --> */
#login{
    background-color:white;

}
#signup{
    background-color:red;
    color:white;

}


/* class selector */
/* class=should be used in html file is same of that group  */

.upvote{
    color:red;
    background-color: aliceblue;
}


/* descendent selector */
p a{
    color:blueviolet;
    background-color: yellow;
}
 
nav ul li a{
    color:green;
}


/* adjacent sibling selector */
p + h3{
    text-decoration: underline;;
}

.upvote + button{
    background-color: lightgreen;
    color:darkgreen;
}



/* child combinator */
div > input{
    background-color: aqua;
    
}



/* Attribute selector */
input[type="text"]{
    color: red;
}
input[type="password"]{
    color: green;
}
input[type]{
    background-color: blue;
}